{
  "servers": {
    "github": {
      "type": "http",
      "url": "https://api.githubcopilot.com/mcp/"
    },
    "playwright": {
      "type": "http",
      "url": "https://api.githubcopilot.com/mcp/playwright"
    },
    "filesystem": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-filesystem",
        "${workspaceFolder}"
      ]
    },
    "fetch": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-fetch"
      ]
    },
    "sequential-thinking": {
      "type": "stdio",
      "command": "uvx",
      "args": [
        "--from",
        "git+https://github.com/arben-adm/mcp-sequential-thinking@f3727d858769495befaf56e6b4f2e84509dc6456",
        "--with",
        "portalocker",
        "mcp-sequential-thinking"
      ]
    },
    "tavily": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "tavily-mcp@latest"
      ],
      "env": {
        "TAVILY_API_KEY": "${env:TAVILY_API_KEY}",
        "DEFAULT_PARAMETERS": "{\"max_results\": 10, \"search_depth\": \"advanced\", \"include_images\": false, \"include_answer\": true}"
      }
    }
  }
}
